@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

$very-dark-magenta:#512051;
$dark-grayish-magenta:#927B91;
$light-grayish-magenta:#F7F2F7;
$orange:#EF9546;
$soft-pink:#EE69A4;

@function toRem($pixel) {
    @return ($pixel / 16) + rem;
}

@mixin spartan ($size, $line-height, $font-weight) {
    font-family: 'Spartan', sans-serif;
    font-size: toRem($size);
    line-height: toRem($line-height);
    font-weight: $font-weight;
}

// reset css
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}

body {
    padding: 0 6.4%;
    background-image: url('../images/bg-pattern-top-mobile.svg');
    background-repeat: no-repeat;
}

header {
    margin-top: toRem(80);

    h1 {
        @include spartan(32, 32, 700);
        color: $very-dark-magenta;
        letter-spacing: -1.14px;
        text-align: center;
    }

    p {
        @include spartan(15, 25, 500);
        color: $dark-grayish-magenta;
        margin-top: toRem(18);
        text-align: center;
    }
}

.ratings {
    margin-top: toRem(48);

    .rating {
        width: 100%;
        // height: toRem(78);
        background-color: $light-grayish-magenta;
        text-align: center;
        border-radius: 8px;
        margin-bottom: toRem(16);

        .stars {
            padding-top: toRem(16);
        }

        h2 {
            @include spartan(13, 15, 700);
            color: $very-dark-magenta;
            margin-top: toRem(16);
            padding-bottom: toRem(16);
        }
    }

}

.attribution {
    display: none;
}