.header {
    margin-top: toRem(80);

    h1 {
        @include spartan(32, 32, 700);
        color: $very-dark-magenta;
        letter-spacing: -1.14px;
        text-align: center;
    }

    p {
        @include spartan(15, 25, 500);
        color: $dark-magenta;
        margin-top: toRem(18);
        text-align: center;
    }
}

@include media-lg {
    .header {
        max-width: toRem(445);
        margin-top: toRem(127);
        margin-right: toRem(125);
    
        h1 {
            @include spartan(48, 48, 700);
            letter-spacing: -1.71px;
            text-align: left;
        }

        p {
            letter-spacing: -0.5px;
            margin-top: toRem(6);
            text-align: left;
        }
    }
}