.reviews {
    margin-top: toRem(49);
    margin-bottom: toRem(83);

    li {
        margin-bottom: toRem(16);
    }
}

@include media-lg {
    .reviews {
        
        ul{
            display: flex;

            li {
                margin-right: toRem(30);
                
            }
        }

        .two {
            margin-top: toRem(16);
        }

        .three {
            margin-top: toRem(32);
        }
    }
}