@mixin spartan ($size, $line-height, $font-weight) {
    font-family: 'Spartan', sans-serif;
    font-size: toRem($size);
    line-height: toRem($line-height);
    font-weight: $font-weight;
}

@mixin media-md {
    @media screen and (min-width: 500px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1500px) {
        @content;
    }
}